<!DOCTYPE html>
<html>
<head>
	<title> Practica 1 SMMA </title>
</head>
<body>
	<h2 align="center"> Bienvenido visitante!!! </br>Pruebas aplicacion Flask </h2>
	<div align="center">
		<img src="{{ url_for('static', filename='img/streaming.jpg') }}" usemap="#Mapa1" width="400px">
		<map name="Mapa1">
			<area shape="rect" coords="0, 0, 200, 115" href="https://es-la.facebook.com/">
			<area shape="rect" coords="0, 115, 200, 229" href="https://www.youtube.com">
			<area shape="rect" coords="200, 0, 400, 115" href="https://www.twitch.tv/">
			<area shape="rect" coords="200, 115, 400, 229" href="https://mixer.com/">
		</map>
	</div>
	<div align="center">
		<p>&copy; 2021 Miguel Angel Suarez Mamani</p>
	</div>
</body>
</html>